# Copyright (c) 2023 Fabio Anselmi
# Copyright (c) 2023 AILab @ UniTS
# All rights reserved.
# Released under the terms of the MIT License

# Requirements in sync with Google Colab (17/09/2023)

torch>=2.0.1
torchvision>=0.15.2
numpy>=1.23.5
scipy>=1.11.2
scikit-learn>=1.2.2
matplotlib>=3.7.1
tqdm>=4.66.1
